body {
  font-family: 'Segoe UI', 'Lucida Grande', Tahoma, sans-serif;
  font-size: 100%;
  margin: 2px;
  min-width: 200px;
  max-width: 400px;
}

.header {
  border: 1px solid #191919;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #191919;
  color: white;
  padding: 10px;
}

.loading {
  text-align: center;
}

.title {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-weight: bold;
  padding: 10px;
}

.message {
  display: none;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 10px;
  color: #c00;
}

.content {
  border: 1px solid #ccc;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 10px;
}

.button {
  border: 2px solid;
  border-radius: 3px;
  padding: 5px 12px;
  white-space: nowrap;
  text-decoration: none;
}

.button-list {
  margin-top: 20px;
  margin-bottom: 10px;
}

.button-list .button {
  margin-right: 5px;
}

.submit {
  border-color: #23c3b4;
  color: #23c3b4;
}

.submit:hover, .submit:active {
  color: #FFF;
  background-color: #23c3b4;
}

.cancel {
  border-color: #adadad;
  color: #adadad;
}

.cancel:hover, .cancel:active {
  color: #fff;
  background-color: #adadad;
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 5px;
}
